<h1><%= l(:quarter_KPI_header) %></h1>
<p><%= l(:quarter_KPI_description) %></p>

<% @periods.each do |p| %>
 
<h2><%= p[:name] %></h2>
<%= 
render :partial => 'quarter_list', :locals => { :data => @res_to_table[p[:id]], :field_name => :assigned_to_id, :rows => @staff, :period => p[:period] } 
%>

<% end %> 
